.log-off{
  width: 100%;
  text-align: end;
  color: #777777;
}

.log-off-div{
  padding: 5px;      
  border-radius: 5px;
}

.log-off-div:hover{
  
  color: #f1f1f1;
  
  background-color: #484848;
}


@media screen and (min-width: 550px){ 
  h1{
    font-size: 50px;
  }
    h2{
    font-size: 30px;
  }
  body{
    justify-content: center;
    text-align: center;
    margin: 20px;
    width: 80px;
  }
  section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 550px){ 
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 15px;
  }
  section{
    justify-content: center;
    text-align: center;
    margin: 20px;
    width: 350px;
  }
  .tasks{
    width: 350px;
  }
  
}

.tasks{
  overflow-x: auto; /* Activa la barra de desplazamiento horizontal */
  display: block; /* Necesario para overflow en tablas */
  border-collapse: collapse;
}

.tasks::-webkit-scrollbar {
  width: 10px; 
  height: 10px;
}

.tasks::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del track */
  border-radius: 10px;
}

.tasks::-webkit-scrollbar-thumb  {
  background-color: #888; /* Color del thumb */
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.tasks::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cambia el color cuando el usuario pasa el mouse sobre la barra */
}

.input-task-name {
  all: unset; 
  background: transparent;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  padding: 2.5px;      

}

.input-task-name:hover{
  background-color: #484848;
  border-radius: 5px;
} 

select {
  -webkit-appearance: none; 
  -moz-appearance: none;   
  appearance: none;         
  background: none;         
  border: none ; 
  border-color: #282c34;        
  font-family: inherit;     
  font-size: inherit;       
  color: inherit;           
  cursor: pointer;
  padding: 2.5px;      

  display: flex;
  justify-content: center;
  text-align: center;
  

  transition: border .5s ease;
}

select:hover{
  /* border: 1px solid #bfbfbf;  */
  background-color: #484848;
  border-radius: 5px;
}

select:focus {
  background-color: #484848;
  border-radius: 4px;
  border: none;
}

.añadir-tarea{
  color: #696a6b ;
  text-align: left;

}

button{
  all: unset;
  cursor: pointer;
}


.react-datepicker{
  border-radius: 5px !important; 
  border: 0px !important;
  background-color:#282c34 !important;
  color:white !important;
  width: 70px;
  padding: 7.5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.react-datepicker:hover{
  background-color: #484848 !important;
}
.react-datepicker__header {
  padding: 0 !important;
  border-radius: 25px !important;
}
.react-datepicker-popper {
  border: 0px;
  background: #484848;
  border-radius: 25px ;

  padding: 0;
}
.react-datepicker__month-container{
  background-color:#484848 !important;
  border-radius: 25px ;
}
.react-datepicker__month{
  border-radius: 25px !important;
  background-color:#484848 !important;

}
.react-datepicker__current-month{
  background-color:#484848;
  border-radius: 25px 25px 0 0;

}

.react-datepicker__day-names{
  background-color:#484848;
}

.react-datepicker__month-container {
  background-color: #484848;
}

.delete-button{
  display: flex;
  border-radius: 5px;
  padding: 5px;
}

.delete-button:hover{
  background-color: #484848;
}
