body{
  justify-content: center;
  text-align: center;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 50px;
}

@media screen and (max-width: 550px){ 
  body{
      max-width: 500px;
      min-width: 400px;
      
  }
  .each-task-name{
    max-width: 100px;
    padding: 5px;
  }
  
}

.tasks{
  display: grid;
  grid-template-columns: repeat(1 , 1fr);
  grid-auto-rows: minmax(30px, auto);
  

}

h4{
  height: 10px;
  
}
.table-title{
  display: flex;
  flex-direction: row;
  gap: 20px;
   align-items: center;
}

.table-title-name{
  min-width: 190px;
  padding: 5px;
}

.table-title-status{
  min-width: 25px;
  padding: 5px;
}

.each-task{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 5px;
}
.each-task-id{
  padding: 5px;

}
.each-task-name{
  min-width: 150px;
  padding: 5px;
}


.input-task-name {
  all: unset; 
  background: transparent;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}


select {
  -webkit-appearance: none; 
  -moz-appearance: none;   
  appearance: none;         
  background: none;         
  border: none ; 
  border-color: #282c34;        
  font-family: inherit;     
  font-size: inherit;       
  color: inherit;           
  cursor: pointer;
  padding: 5px;      

  display: flex;
  justify-content: center;
  text-align: center;
  

  transition: border .5s ease;
}

select:hover{
  /* border: 1px solid #bfbfbf;  */
  background-color: #484848;
  border-radius: 4px;
}

select:focus {
  background-color: #484848;
  border-radius: 4px;
  border: none;
}

.añadir-tarea{
  color: #696a6b ;
}

.button-añadir-tarea{
  all: unset;
  cursor: pointer;
}

.react-datepicker{
  border-radius: 25px !important; 
  border: 0px !important;
  background-color:#282c34 !important;
  color:white !important;
  width: 70px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}


.react-datepicker__header {
  padding: 0 !important;
  border-radius: 25px !important;

}
.react-datepicker-popper {
  border: 0px;
  background: #484848;
  border-radius: 25px ;

  padding: 0;
}


.react-datepicker__month-container{
  background-color:#484848 !important;
  border-radius: 25px ;
}
.react-datepicker__month{
  border-radius: 25px !important;
  background-color:#484848 !important;

}
.react-datepicker__current-month{
  background-color:#484848;
  border-radius: 25px 25px 0 0;

}

.react-datepicker__day-names{
  background-color:#484848;
}

.react-datepicker__month-container {
  background-color: #484848;

}

